<footer>
    <div class="footer">
           <div>
            <a href="https://x.com/SetuIslamRumi"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="https://www.facebook.com/sesa.islam.3/"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/setuislam1020/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/setu-islam-rumi-188944287/"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/DeveloperSetu"><i class="fa-brands fa-github"></i></a><br><br>
            <p><a href="htts://developersetu.xyz">© 2021. Foodera. All rights reserved.</a></p>
            
           </div>
    </div>
</footer>