<app-header></app-header>
<!-- <img src="/assets/img/banner1.jpg" alt=""> -->
<div id="section1">
    <div class="container">
        <h1>Good food choices are <br> good investments.</h1>
        <p>Absolutely! Nourishing your body with healthy, delicious food fuels your energy, <br>
            sharpens your mind, and enhances your overall well-being. A wise investment in <br>
            what you eat today leads to a healthier, happier tomorrow.</p>
        <a href="" class="commomBtn1">Order now <i class="fa-brands fa-bitbucket"></i></a>
        <a href="" class="commomBtn2" style="margin-left: 20px;">Lern More</a>
    </div>
</div>
<div id="section2">
    <div class="counterContainer">
        <div>
            <h1><span class="counter1" data-counte="187">0</span>+</h1>
            <h5>Savings</h5>
        </div>
        <div>
            <h1><span class="counter2" data-counte="586">0</span>+</h1>
            <h5>Savings</h5>
        </div>
        <div>
            <h1><span class="counter3" data-counte="140">0</span>+</h1>
            <h5>Savings</h5>
        </div>
        <div>
            <h1><span class="counter4" data-counte="110">0</span>+</h1>
            <h5>Savings</h5>
        </div>
    </div>
</div>
<div id="section3">
    <div class="container">
        <div class="leftDiv">
            <img src="/assets/img/image1.png" alt="">
        </div>
        <div class="rightDiv">
            <h1>We pride ourselves on <br> making real food from the best ingredients.</h1>
            <p>At the heart of our philosophy is a commitment to quality and authenticity. We believe that food should nourish not just the body but also the soul. Our chefs take the time to craft every meal with care, transforming simple ingredients into something truly special.  We’re not just serving food; we’re sharing a passion for wholesome, delicious eating that brings people together</p>
            <br><a href="/about" class="commomBtn1">Learn More</a>
        </div>
    </div>
</div>

<div id="section4">
    <div class="container">
        <div class="leftDiv">
            <h1>We make everything by hand with the best possible ingredients.</h1>
             <p>Every dish we create is crafted by hand, reflecting our dedication to quality and the artistry of cooking. We believe that the best flavors come from the care and attention we put into each step of the process. </p>
             <li><i class="fa-solid fa-check"></i>The artistry for cooking </li>
             <li><i class="fa-solid fa-check"></i> Hand Make</li>
             <li><i class="fa-solid fa-check"></i> Best Flavors</li>
             <br><a href="/about" class="commomBtn1">Learn More</a>
        </div>
        <div class="rightDiv">
            <img src="/assets/img/img2.png" alt="">
        </div>
    </div>
</div>

<div id="section5">
    <div class="container">
        <h1>When a man's stomach is full it makes no <br>
            difference whether he is rich or poor.</h1><br>
        <p>This timeless saying underscores the universal nature of hunger and the fundamental need for sustenance that transcends social and economic status. Regardless of wealth, when a person’s basic needs are met, many of life’s distinctions fade away.</p>
        <div>
            <i class="fa-solid fa-play"> Watch Your Story</i> 
        </div>
    </div>
</div>

<div id="section6">
    <div class="container">
        <h1>Explore Our Foods</h1>
        <p>Explore Our Foods invites you on a culinary journey where every dish tells a story and every ingredient has a purpose. We take pride in showcasing a diverse array of flavors and textures, each thoughtfully curated to reflect the seasons and the bounty of local farms. From vibrant salads that celebrate fresh produce to hearty entrees that warm the soul, our menu is designed to delight your senses and satisfy your cravings. We also offer a variety of dietary options, ensuring that everyone can find something to enjoy. Whether you're looking for a quick bite or a leisurely meal, our commitment to quality and flavor shines through in every plate. Join us as we celebrate the art of cooking and the joy of sharing good food with good company!</p>
        <div class="foodcardContainer">
            <div class="foodCard foodCard1">
                <img src="/assets/img/food1.jpg" alt="">
                <h5>Rainbow Vegetable Sandwich</h5>
                <p>Time: 15 - 20 Minutes | Serves: 1</p>
                <h4>$10.50 <del>$11.70</del></h4><br><hr>
                <a href="#" class="commomBtn1">Order Now</a>
            </div>
            <div class="foodCard foodCard1">
                <img src="/assets/img/food2.jpg" alt="">
                <h5>Vegetarian Burger</h5>
                <p>Time: 30 - 45 Minutes | Serves: 1</p>
                <h4>$9.20 <del>$10.50</del></h4><br><hr>
                <a href="#" class="commomBtn1">Order Now</a>
            </div>
            <div class="foodCard foodCard1">
                <img src="/assets/img/food3.jpg" alt="">
                <h5>Raspberry Stuffed French Toast</h5>
                <p>Time: 10 - 15 Minutes | Serves: 1</p>
                <h4>$12.50 <del>$13.20</del></h4><br><hr>
                <a href="#" class="commomBtn1">Order Now</a>
            </div>
        </div>
    </div>
</div>

<div id="section7">
    <div class="container">
       <img src="/assets/img/customer1.jpg" alt="">
       <p>I recently had the pleasure of dining at Delightful Bites, and I must say, it was an incredible experience from start to finish. The atmosphere was warm and inviting, with soft lighting and friendly staff who made us feel right at home.</p>
       <!--<p>
        I recently had the pleasure of dining at Delightful Bites, and I must say, it was an incredible experience from start to finish. The atmosphere was warm and inviting, with soft lighting and friendly staff who made us feel right at home.

        I tried the grilled lemon herb chicken. It was incredibly juicy and bursting with flavor, complemented by a side of seasonal vegetables that were fresh and vibrant. My dining companion enjoyed the mushroom risotto, which was creamy and rich, with a delightful earthy flavor.

        Finally, we couldn't resist dessert. The chocolate lava cake was a showstopper! It was warm and decadent, with a gooey center that flowed out beautifully when we cut into it. Paired with a scoop of vanilla ice cream, it was the perfect sweet ending to our meal.

        Overall, Delightful Bites exceeded my expectations. The combination of excellent service, delicious food, and a cozy atmosphere makes it a must-visit spot. I can't wait to return and try more of their menu!
       </p>-->
       <br><h5>Tasina Miu</h5>
    </div>
</div>

<div id="section8">
    <div class="container">
      <h1>Frequently Asked Questions</h1>
      <div class="faqGridContainer">
        <div>
            <div>
                <h3>~ Is Foodera Bread really baked fresh each day?</h3>
                <p>Yes, Foodera Bread is indeed baked fresh each day! Their commitment to quality is evident in the delicious aroma that fills the bakery each morning. You can taste the freshness in every bite, making their bread not only flavorful but also a perfect addition to any meal. It’s clear they take pride in delivering that 
                    homemade touch daily!</p>
            </div><br>
            <div>
                <h3>~ Do you bake breads containing animal fats or products?</h3>
                <p>No, we don't use any animal fats or products in our breads at Foodera Bread. We focus on crafting delicious, plant-based options that everyone can enjoy. Our recipes are designed to be inclusive, so you can savor our fresh 
                   bread without any animal ingredients.</p>
            </div>
        </div>

        <div>
            <div>
                <h3>~ Can I order your products online?</h3>
                <p>Absolutely! You can order our products online at Foodera Bread. We offer a convenient ordering system that lets you choose your favorites and have them delivered right to your doorstep. Enjoy fresh, 
                    delicious bread without leaving your home!</p>
            </div><br>

            <div>
                <h3>~ When are you opening a shop near me?</h3>
                <p>I'm glad you're excited! While we don't have an exact date for opening a shop near you just yet, we're always expanding and looking for new locations. Stay tuned—there might 
                    be one closer than you think soon!</p>
            </div>
        </div>
      </div>
    </div>
</div>

<div id="section9">
    <div class="overlay">
        <div class="container">
            <h1>Baked fresh daily by bakers with passion.  <a href="/about" class="commomBtn1">Learn More ♡ </a></h1>
        </div>
    </div>

</div>
<div id="section10">
    <div class="container">
        <h1>Hurry up! Subscribe our newsletter <br>
            and get 25% Off</h1>
            <p>Send your Email 𓍯𓂃𓏧♡</p>
            <form>
                <input type="text" placeholder="Email Address Here">
                <button class="commomBtn1" (click)="MessageSubmit()" type="submit">Learn More</button>
            </form>
    </div>
</div>
<app-footer></app-footer>