<app-header></app-header>
<!-- <img src="/assets/img/banner1.jpg" alt=""> -->
<div id="faqSection1">
    <div class="container">
        <h1>Good food choices are <br> good investments.</h1>
        <p>Absolutely! Nourishing your body with healthy, delicious food fuels your energy, <br>
            sharpens your mind, and enhances your overall well-being. A wise investment in <br>
            what you eat today leads to a healthier, happier tomorrow.</p>
        <a href="" class="commomBtn1">Order now <i class="fa-brands fa-bitbucket"></i></a>
        <a href=".section2" class="commomBtn2" style="margin-left: 20px;">Lern More</a>
    </div>
</div>
    <div id="section8">
        <div class="container">
          <h1>Frequently Asked Questions</h1>
          <div class="faqGridContainer">
            <div>
                <div>
                    <h3>~ Is Foodera Bread really baked fresh each day?</h3>
                    <p>Yes, Foodera Bread is indeed baked fresh each day! Their commitment to quality is evident in the delicious aroma that fills the bakery each morning. You can taste the freshness in every bite, making their bread not only flavorful but also a perfect addition to any meal. It’s clear they take pride in delivering that 
                        homemade touch daily!</p>
                </div><br>
                <div>
                    <h3>~ Do you bake breads containing animal fats or products?</h3>
                    <p>No, we don't use any animal fats or products in our breads at Foodera Bread. We focus on crafting delicious, plant-based options that everyone can enjoy. Our recipes are designed to be inclusive, so you can savor our fresh 
                       bread without any animal ingredients.</p>
                </div>
            </div>
    
            <div>
                <div>
                    <h3>~ Can I order your products online?</h3>
                    <p>Absolutely! You can order our products online at Foodera Bread. We offer a convenient ordering system that lets you choose your favorites and have them delivered right to your doorstep. Enjoy fresh, 
                        delicious bread without leaving your home!</p>
                </div><br>
    
                <div>
                    <h3>~ When are you opening a shop near me?</h3>
                    <p>I'm glad you're excited! While we don't have an exact date for opening a shop near you just yet, we're always expanding and looking for new locations. Stay tuned—there might 
                        be one closer than you think soon!</p>
                </div>
            </div>
          </div>
        </div>
    </div>
<br><br>
<app-footer></app-footer>