<app-header></app-header>
<!-- <img src="/assets/img/banner1.jpg" alt=""> -->
<div id="exploreSection1">
    <div class="container">
        <h1>Good food choices are <br> good investments.</h1>
        <p>Absolutely! Nourishing your body with healthy, delicious food fuels your energy, <br>
            sharpens your mind, and enhances your overall well-being. A wise investment in <br>
            what you eat today leads to a healthier, happier tomorrow.</p>
        <a href="" class="commomBtn1">Order now <i class="fa-brands fa-bitbucket"></i></a>
        <a href=".section2" class="commomBtn2" style="margin-left: 20px;">Lern More</a>
    </div>
</div>
<div id="section6">
    <div class="container">
        <h1>Explore Our Foods</h1>
        <p>Explore Our Foods invites you on a culinary journey where every dish tells a story and every ingredient has a purpose. We take pride in showcasing a diverse array of flavors and textures, each thoughtfully curated to reflect the seasons and the bounty of local farms. From vibrant salads that celebrate fresh produce to hearty entrees that warm the soul, our menu is designed to delight your senses and satisfy your cravings. We also offer a variety of dietary options, ensuring that everyone can find something to enjoy. Whether you're looking for a quick bite or a leisurely meal, our commitment to quality and flavor shines through in every plate. Join us as we celebrate the art of cooking and the joy of sharing good food with good company!</p>
        <div class="foodcardContainer">
            <div class="foodCard foodCard1">
                <img src="/assets/img/food1.jpg" alt="">
                <h5>Rainbow Vegetable Sandwich</h5>
                <p>Time: 15 - 20 Minutes | Serves: 1</p>
                <h4>$10.50 <del>$11.70</del></h4><br><hr>
                <a href="#" class="commomBtn1">Order Now</a>
            </div>
            <div class="foodCard foodCard1">
                <img src="/assets/img/food2.jpg" alt="">
                <h5>Vegetarian Burger</h5>
                <p>Time: 30 - 45 Minutes | Serves: 1</p>
                <h4>$9.20 <del>$10.50</del></h4><br><hr>
                <a href="#" class="commomBtn1">Order Now</a>
            </div>
            <div class="foodCard foodCard1">
                <img src="/assets/img/food3.jpg" alt="">
                <h5>Raspberry Stuffed French Toast</h5>
                <p>Time: 10 - 15 Minutes | Serves: 1</p>
                <h4>$12.50 <del>$13.20</del></h4><br><hr>
                <a href="#" class="commomBtn1">Order Now</a>
            </div>
        </div>
    </div>
</div>
<br><br>

<app-footer></app-footer>