<app-header></app-header>
<!-- <img src="/assets/img/banner1.jpg" alt=""> -->
<div id="faqSection1">
    <div class="container">
        <h1>Good food choices are <br> good investments.</h1>
        <p>Absolutely! Nourishing your body with healthy, delicious food fuels your energy, <br>
            sharpens your mind, and enhances your overall well-being. A wise investment in <br>
            what you eat today leads to a healthier, happier tomorrow.</p>
        <a href="" class="commomBtn1">Order now <i class="fa-brands fa-bitbucket"></i></a>
        <a href=".section2" class="commomBtn2" style="margin-left: 20px;">Lern More</a>
    </div>
</div>


<p class="title">No</p>

<div id="section7">
    <div class="container">
       <img src="/assets/img/customer1.jpg" alt="">
       <p>I recently had the pleasure of dining at Delightful Bites, and I must say, it was an incredible experience from start to finish. The atmosphere was warm and inviting, with soft lighting and friendly staff who made us feel right at home.</p>
       <!--<p>
        I recently had the pleasure of dining at Delightful Bites, and I must say, it was an incredible experience from start to finish. The atmosphere was warm and inviting, with soft lighting and friendly staff who made us feel right at home.

        I tried the grilled lemon herb chicken. It was incredibly juicy and bursting with flavor, complemented by a side of seasonal vegetables that were fresh and vibrant. My dining companion enjoyed the mushroom risotto, which was creamy and rich, with a delightful earthy flavor.

        Finally, we couldn't resist dessert. The chocolate lava cake was a showstopper! It was warm and decadent, with a gooey center that flowed out beautifully when we cut into it. Paired with a scoop of vanilla ice cream, it was the perfect sweet ending to our meal.

        Overall, Delightful Bites exceeded my expectations. The combination of excellent service, delicious food, and a cozy atmosphere makes it a must-visit spot. I can't wait to return and try more of their menu!
       </p>-->
       <br><h5>Tasina Miu</h5>
    </div>
</div>
<br><br>
<app-footer></app-footer>

