<header id="header">
    <nav id="nav" class="container">
        <div class="logo">
            <a href="/home">
                <img src="/assets/img/logo.png" alt="">
            </a>
            <div class="toggleBtnContainer">
                <i class="fa-solid fa-xmark"></i>
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
        <ul id="ul">
            <li><a href="/home" class="nav-link">Home</a></li>
            <li><a href="/about" class="nav-link">About Us</a></li>
            <li><a href="/explore" class="nav-link">Explore Foods</a></li>
            <li><a href="/review" class="nav-link">Reviews</a></li>
            <li><a href="/FAQ" class="nav-link">FAQ</a></li>
            <li><p id="phone" class="commomBtn1" href="tel:01754617283">01754617283</p></li>
        </ul>
    </nav>
    
</header>

<img src="assets/images/logo.png" alt="">